<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Loda To-do</title>
		<meta http-equiv="Content-Type"content="text/html; charset=UTF-8"/><!--css-->
  <link th:href="@{/css/bootstrap.css}"rel="stylesheet"/>
  <link th:href="@{/css/main.css}"rel="stylesheet"/><!--js-->
  <script th:src="@{/js/bootstrap.js}"></script>
  </head>
  <body>
	  <h1>List Method</h1>
	  <ul><!--Duyệt qua toàn bộ phần tử trong biến "method"-->
    <li th:each="method: ${methodList}"><!--Với mỗi phần tử, lấy ra title và detail-->
    <span th:text="${method.getMa_phuong_thuc()}"></span> : <span th:text="${method.getTen_phuong_thuc()}"></span>
    </li>
    </ul>
    <a th:href="@{/addMethod}"class="btn btn-success">add Method</a>
    </body>
   </html>